/* App css file */
body {
    font-family: "Lato", sans-serif;
    background-color: #d3d5cc4f;
}
.box{
    background-color: #d3d5cc4f;
}

h3{
    text-align: center;
}
.center{
    text-align: center;
}
table, tr {
    width: 100%;
    background-color: #d1eaf3;
}
.modelbox{
    height: auto;
    display: none;
    z-index: 12 !important;
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: #f6f6f6;
    border-radius: 12px;
}